In [5]:
# 4-3 IC Data import and descriptive analysis

In [4]:
import pandas as pd
import numpy as np
import os

In [9]:
df = pd.read_csv(r'C:\Users\jinu5\Desktop\careerfoundry\Achivement 4\Instacart Basket Analysis_2024-01-02\02 Data\Original data\orders.csv', index_col = False)

In [5]:
path=r'C:\Users\jinu5\Desktop\careerfoundry\Achivement 4\Instacart Basket Analysis_2024-01-02'

In [27]:
path

'C:\\Users\\jinu5\\Desktop\\careerfoundry\\Achivement 4\\Instacart Basket Analysis_2024-01-02'

In [6]:
df=pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'orders.csv'), index_col=False)

In [7]:
df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [38]:
df.describe

<bound method NDFrame.describe of          order_id  user_id eval_set  order_number  order_dow  \
0         2539329        1    prior             1          2
1         2398795        1    prior             2          3
2          473747        1    prior             3          3
3         2254736        1    prior             4          4
4          431534        1    prior             5          4
...           ...      ...      ...           ...        ...
3421078   2266710   206209    prior            10          5
3421079   1854736   206209    prior            11          4
3421080    626363   206209    prior            12          1
3421081   2977660   206209    prior            13          1
3421082    272231   206209    train            14          6

         order_hour_of_day  days_since_prior_order
0                        8                     NaN
1                        7                    15.0
2                       12                    21.0
3                        7                    29.0
4                       15                    28.0
...                    ...                     ...
3421078                 18                    29.0
3421079                 10                    30.0
3421080                 12                    18.0
3421081                 12                     7.0
3421082                 14                    30.0

[3421083 rows x 7 columns]>

In [11]:
df.summarize

AttributeError: 'DataFrame' object has no attribute 'summarize'

In [10]:
df.sum

<bound method DataFrame.sum of          order_id  user_id eval_set  order_number  order_dow  \
0         2539329        1    prior             1          2
1         2398795        1    prior             2          3
2          473747        1    prior             3          3
3         2254736        1    prior             4          4
4          431534        1    prior             5          4
...           ...      ...      ...           ...        ...
3421078   2266710   206209    prior            10          5
3421079   1854736   206209    prior            11          4
3421080    626363   206209    prior            12          1
3421081   2977660   206209    prior            13          1
3421082    272231   206209    train            14          6

         order_hour_of_day  days_since_prior_order
0                        8                     NaN
1                        7                    15.0
2                       12                    21.0
3                        7                    29.0
4                       15                    28.0
...                    ...                     ...
3421078                 18                    29.0
3421079                 10                    30.0
3421080                 12                    18.0
3421081                 12                     7.0
3421082                 14                    30.0

[3421083 rows x 7 columns]>

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [35]:
df.info

<bound method DataFrame.info of          order_id  user_id eval_set  order_number  order_dow  \
0         2539329        1    prior             1          2
1         2398795        1    prior             2          3
2          473747        1    prior             3          3
3         2254736        1    prior             4          4
4          431534        1    prior             5          4
...           ...      ...      ...           ...        ...
3421078   2266710   206209    prior            10          5
3421079   1854736   206209    prior            11          4
3421080    626363   206209    prior            12          1
3421081   2977660   206209    prior            13          1
3421082    272231   206209    train            14          6

         order_hour_of_day  days_since_prior_order
0                        8                     NaN
1                        7                    15.0
2                       12                    21.0
3                        7                    29.0
4                       15                    28.0
...                    ...                     ...
3421078                 18                    29.0
3421079                 10                    30.0
3421080                 12                    18.0
3421081                 12                     7.0
3421082                 14                    30.0

[3421083 rows x 7 columns]>

In [9]:
df.info(10
       )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [8]:
df.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [12]:
df.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [14]:
var_list='order_id', 'user_id', 'order_number', 'order_dow',  'order_hour_of_day', 'days_since_prior_order'

In [15]:
var_list

('order_id',
 'user_id',
 'order_number',
 'order_dow',
 'order_hour_of_day',
 'days_since_prior_order')

In [16]:
var_list = ['order_id',
 'user_id',
 'order_number',
 'order_dow',
 'order_hour_of_day',
 'days_since_prior_order']

In [19]:
df = pd.read_csv(os.path.join(path, '02 Data','Original data','orders.csv'), usecols = var_list)

In [20]:
df.head

<bound method NDFrame.head of          order_id  user_id  order_number  order_dow  order_hour_of_day  \
0         2539329        1             1          2                  8
1         2398795        1             2          3                  7
2          473747        1             3          3                 12
3         2254736        1             4          4                  7
4          431534        1             5          4                 15
...           ...      ...           ...        ...                ...
3421078   2266710   206209            10          5                 18
3421079   1854736   206209            11          4                 10
3421080    626363   206209            12          1                 12
3421081   2977660   206209            13          1                 12
3421082    272231   206209            14          6                 14

         days_since_prior_order
0                           NaN
1                          15.0
2                          21.0
3                          29.0
4                          28.0
...                         ...
3421078                    29.0
3421079                    30.0
3421080                    18.0
3421081                     7.0
3421082                    30.0

[3421083 rows x 6 columns]>

In [21]:
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [1]:
df_prods

NameError: name 'df_prods' is not defined

In [6]:
df_prods=pd.read_csv(os.path.join(path,'02 Data', 'Original data', 'products.csv'), index_col = False)

In [7]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df.head()

NameError: name 'df' is not defined

In [10]:
df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [11]:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000